/* Michael Nav Work */
nav{
  padding: 0 !important;
}
.nav-tabs {
  display: flex;
  justify-content: space-between;
}
.nav-item {
  list-style-type: none;
  /* color: blue; */
  /* padding: 0 2vw; */
}
.nav-link {
}
.nav-link:active {
  font-weight: bold;
}

/* Chris Thumbnail Work */
img {
  max-width: 100%;
}

.img-thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  cursor: pointer;
}
/* Matthew CSS work */

html, body{
  padding: 0;
  margin: 0;
}

footer{
  background-color: rgb(246, 246, 246);
  padding: 1vh;
  margin-top: 3vh;
}

form{
  border: 1px solid rgba(44, 46, 44, .3);
  border-radius: 8px;
  padding: 20px;
}

.navbar{
  border: 1px solid #dee2e6;
}

.nav-tabs{
  border: none;
}

.min-height{
  min-height: calc(93vh - 83px);
  margin-top: 50px;
}

/* .container-flex{
  min-height: calc(96vh - 83px);
} */

#about-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

#about-container h1{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(44, 46, 44, .8);
}

#hero-section {
  background: url(../public/images/ocean.jpg) 50% no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#hero-section #hero-section-text  {
  color: white;
  font-size: 65px !important;
  text-shadow: 1px 1px 2px black;
}

#header-text{
  font-size: 55px;
  text-decoration: none;
  color: white;
}