/* Michael Nav Work */
nav{
  padding: 0 !important;
  margin-bottom: 3vh;
}
.nav-tabs {
  display: flex;
  justify-content: space-between;
}
.nav-item {
  list-style-type: none;
  /* color: blue; */
  /* padding: 0 2vw; */
}
.nav-link {
  color: pink;
}
.nav-link:active {
  font-weight: bold;
}

/* Chris Thumbnail Work */
img {
  max-width: 100%;
}

.img-thumbnail {
  width: 45%;
  height: auto;
  margin-bottom: 50px;
  cursor: pointer;
}