/* Michael Nav Work */
nav{
  padding: 0 !important;
  margin-bottom: 3vh;
}
.nav-tabs {
  display: flex;
  justify-content: space-between;
}
.nav-item {
  list-style-type: none;
  /* color: blue; */
  /* padding: 0 2vw; */
}
.nav-link {
}
.nav-link:active {
  font-weight: bold;
}

/* Chris Thumbnail Work */
img {
  max-width: 100%;
}

.img-thumbnail {
  width: 45%;
  height: auto;
  margin-bottom: 50px;
  cursor: pointer;
}
/* Matthew CSS work */

html, body{
  padding: 0;
  margin: 0;
}

footer{
  background-color: rgb(246, 246, 246);
  padding: 1vh;
  margin-top: 3vh;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
}

form{
  border: 1px solid rgba(44, 46, 44, .3);
  border-radius: 8px;
  padding: 20px;
}
